/* Estilo mobile firts */


body {
    background-color: #242323;
    font-family: sans-serif;
    margin: auto;
}

header {
    background-color: rgb(56, 56, 56);
    padding: 0.8rem; /*media 1, topo. media 2, lado direito, medida 3, baixo, media 4, lado esquerdo */
    border-radius: 7px;
}

.cabecalho {
    text-align: center;
}

header h4 {
    color: #fff;
    text-align: center;
}
.cabecalho {
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
    padding-right: 0.5rem;
}

.banner-content {
    text-align: center;
    color: #fff;
}

.banner-content h4 {
    color: rgb(47, 226, 134);
}

.course {
    background-color: #4d4d4d;
    border-radius: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
}

.course-content {
    text-align: center;
    color: #fff;
    text-decoration: none;
  }


.footer-icons {
    width: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;  
}

.footer-content {
    color: #fff;
    text-align: center;
  }

.footer h3 span {
    color:  rgb(27, 161, 92);
}


/* TABLET OU MAIOR QUE 768px */

@media (min-width: 768px) {
    header {
        background-color: rgb(26, 53, 53);
        display: flex; /*Tornar os elementos filhos em felx, maleaveis atraves de blocos de codigos*/
        align-items: center;
        justify-content: space-between; /*Os itens são distribuídos igualmente no espaço disponível*/
    }

    .banner {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .courses-title {
        text-align: center;
        color: #fff;
    }

    .courses-title span { /*Muda a cor do span no html "cursos"*/
        color: rgb(27, 161, 92);
    }

    .courses {
        display: flex;
        padding: 0 15px 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr; /*Define quantas colunas vai ter o layout e qual o tamanho de cada uma.        */
        gap: 1rem; /*Serve para ajustar o espaçamento entre elementos*/
    }

}

/* NOTEBOOK OU MAIOR QUE 1024px */

@media (min-width: 1024px) {
    header {
      background-color: red;
    }

    .banner img {
        padding: 0rem 4rem;
    }

    .courses {
        display: flex;
        padding: 0 15px 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /*Define quantas colunas vai ter o layout e qual o tamanho de cada uma.        */
        gap: 1rem; /*Serve para ajustar o espaçamento entre elementos*/
    }
  }
  